# Passphrase to use when encrypting your data before sending it to the remote server
encryption_password="my-really-awesome-passphrase"

# How to access the server
server_hostname=servername.com
server_port=22
server_login=username

# List of directories to include in the backup
# IMPORTANT: make sure paths are unique and do not "overlap" in any way
backup_dirs="
    /path/to/my/files/
    /path/to/more/files/
"
